In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('Country-data.csv')
df

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
3,Angola,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200
...,...,...,...,...,...,...,...,...,...,...
162,Vanuatu,29.2,46.6,5.25,52.7,2950,2.62,63.0,3.50,2970
163,Venezuela,17.1,28.5,4.91,17.6,16500,45.90,75.4,2.47,13500
164,Vietnam,23.3,72.0,6.84,80.2,4490,12.10,73.1,1.95,1310
165,Yemen,56.3,30.0,5.18,34.4,4480,23.60,67.5,4.67,1310
166,Zambia,83.1,37.0,5.89,30.9,3280,14.00,52.0,5.40,1460

In [4]:
X=df[['child_mort','exports','health','imports','income','inflation','life_expec','gdpp']]
X

,child_mort,exports,health,imports,income,inflation,life_expec,gdpp
0,90.2,10.0,7.58,44.9,1610,9.44,56.2,553
1,16.6,28.0,6.55,48.6,9930,4.49,76.3,4090
2,27.3,38.4,4.17,31.4,12900,16.10,76.5,4460
3,119.0,62.3,2.85,42.9,5900,22.40,60.1,3530
4,10.3,45.5,6.03,58.9,19100,1.44,76.8,12200
...,...,...,...,...,...,...,...,...
162,29.2,46.6,5.25,52.7,2950,2.62,63.0,2970
163,17.1,28.5,4.91,17.6,16500,45.90,75.4,13500
164,23.3,72.0,6.84,80.2,4490,12.10,73.1,1310
165,56.3,30.0,5.18,34.4,4480,23.60,67.5,1310
166,83.1,37.0,5.89,30.9,3280,14.00,52.0,1460

In [12]:
from sklearn.cluster import KMeans

In [13]:
model=KMeans(n_clusters=5)

In [14]:
model.fit(X)

KMeans(n_clusters=5)

In [15]:
center=model.cluster_centers_

In [16]:
center

array([[5.09500000e+00, 5.70450000e+01, 9.36600000e+00, 4.82100000e+01,
        4.81400000e+04, 2.89060000e+00, 8.03950000e+01, 4.66000000e+04],
       [1.77357143e+01, 4.38476190e+01, 6.69952381e+00, 4.52071429e+01,
        1.61576190e+04, 7.26590476e+00, 7.33880952e+01, 8.94761905e+03],
       [5.00000000e+00, 9.23333333e+01, 6.35333333e+00, 6.47666667e+01,
        9.30000000e+04, 5.51666667e+00, 8.06000000e+01, 8.77000000e+04],
       [1.28833333e+01, 5.54666667e+01, 7.44500000e+00, 5.07833333e+01,
        3.21833333e+04, 5.18388889e+00, 7.76055556e+01, 2.39166667e+04],
       [6.30642857e+01, 3.10392738e+01, 6.14821429e+00, 4.59448321e+01,
        4.32670238e+03, 9.84197619e+00, 6.49273810e+01, 1.94778571e+03]])

In [17]:
p=model.predict(X)